{% extends "base.html" %}

{% block content %}
{% if poll_list %}

  <div class="container-fluid">
    <div class="d-flex row">
      <ul class="list-group">
        {% for poll in poll_list %}
          <li class="list-group-item">
            <strong class="">{{ poll.poll_name }}</strong>
            <span class="float-end">
                <a href="{% url "polls:poll-detail" pk=poll.id %}"
                   class="btn btn-info btn-xs">Vote</a>
                <a href="{% url "polls:poll-results" pk=poll.id %}"
                   class="btn btn-default btn-xs">View Results</a>
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}