{% extends "base.html" %}

{% block title %}
	Poll: {{ poll.poll_name }}
{% endblock %}

{% block content %}
	<div class="shadow card mb-3 border-0">
    <div class="card-body d-flex flex-column align-items-start justify-content-between">
      <h3 class="card-title">{{ poll.poll_name }}</h3>
      <p class="card-text">{{ poll.poll_description }}</p>
      {% if has_voted %}
      	<p class="text-warning">You have already voted. If you want to change the answers, select and click the "Vote" button</p>
      {% endif %} 
      <a href="{% url "polls:poll-results" slug=poll.slug %}"
         class="btn btn-sm btn-secondary">I want to see result!</a>
    </div>
  </div>
  <form method="post" id="pollForm">
      {% csrf_token %}
      {% for question in poll.question_set.all %}
        <div class="shadow card mb-2">
          <div class="card-body">
            <h4
              id="question_{{ question.id }}">{{ question.question_text }}</h4>
            {% for choice in question.choice_set.all %}
              <input type="radio" name="choice_{{ question.id }}"
                     value="{{ choice.id }}">
              {{ choice.choice_text }}<br>
            {% endfor %}</div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-success">Vote!</button>
  </form>
  <script>
  document.getElementById('pollForm').addEventListener('submit', function(event) {
    const questions = document.querySelectorAll('[name^="choice_"]');
      let valid = true;

      questions.forEach(function(question) {
        const name = question.getAttribute('name');
        const checked = document.querySelector('[name="' + name + '"]:checked');

        const questionId = name.split('_')[1];

        const questionElement = document.getElementById('question_' + questionId);

        if (!checked) {
            valid = false;
            if (!questionElement.querySelector('.error-message')) {
                const errorMsg = document.createElement('h6');
                errorMsg.className = 'error-message text-danger text-sm';
                errorMsg.innerText = 'Please make your choice';
                questionElement.appendChild(errorMsg);
            }
        } else {
            if (questionElement.querySelector('.error-message')) {
                questionElement.querySelector('.error-message').remove();
            }
        }
    });

    if (!valid) {
        event.preventDefault();
    }
});
  </script>
{% endblock %}
