{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Set Password" %}
{% endblock title %}
{% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="shadow card">
            <div class="card-header">
              <h1 class="card-title">{% trans "Set Password" %}</h1>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'account_set_password' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_new_password1"
                         class="form-label">{% trans "New password" %}</label>
                  <input type="password" class="form-control"
                         id="id_new_password1" name="new_password1" required>
                </div>
                <div class="mb-3">
                  <label for="id_new_password2"
                         class="form-label">{% trans "New password confirmation" %}</label>
                  <input type="password" class="form-control"
                         id="id_new_password2" name="new_password2" required>
                </div>
                <button type="submit"
                        class="btn btn-primary">{% trans "Set Password" %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
